@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Roboto:wght@300&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

body {
    background-image: url(image/bg.jpeg);
    background-size: 110%;
    background-position: -30px 1000px;
}

main {
    width: 70%;
    margin: 100px auto 0px auto;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 70px;

}

input {
    width: 200px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
form p{
    width: 150px;
}
.submit{
    display: flex;
    justify-content: center;
}
input#submit {
    width: 100px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    color: white;
    background: linear-gradient(to right, blue, black);
    border-radius: 35px;
    border: 3px solid white;
}

.creater {
    color: white;
    position: absolute;
    bottom: 0px;
    right: 5px;
}